__pycache__
.env*
.vscode
*venv
aws/

scripts/dev
.idea/
.devcontainer/
dev/
instagram_screenshots/tmp/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl

#chromeprofiles
selenium_driver/chromeprofiles
.terraform*

# Local file
*.csv
*.zip

pictures
pictures/
scripts/
scripts