ENVIRONMENT_NAME=development

# INSTALLED CHROME VERSION
CHROME_VERSION=116

# SENTRY
DSN_SENTRY=
SAMPLE_RATE_LOGS=0
SENTRY_RELEASE=specific_scraper_2021-04-02-14:53

# AWS
SENDER=123


COUNTERFEIT_PLATFORM_INSERTION_QUEUE=na
COUNTERFEIT_PLATFORM_AWS_BUCKET=test
AWS_SUBNETS=na
AWS_GENERAL_SECURITY_GROUP=na
AWS_ROTATING_PROXY_SUBNET=na
AWS_ROTATING_PROXY_SECURITY_GROUP=na
AWS_RECRAWLING_QUEUE=na

# freelance Access Keys 
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

AWS_REGION=eu-west-1
SPECIFIC_SCRAPER_AWS_BUCKET=specific-scraper-production



# AWS_ACCESS_KEY_ID=test
# AWS_SECRET_ACCESS_KEY=test

# AWS_REGION=eu-west-1
# SPECIFIC_SCRAPER_AWS_BUCKET=test
# Database


DB_NAME=scraperdb
DB_HOST=127.0.0.1
DB_USER=postgres
DB_PASSWORD=abcABC@123
DB_PORT=5432

# APPLICATION CREDENTIALS
BASIC_AUTH_USERNAME=
BASIC_AUTH_PASSWORD=

# Radarly
RADARLY_CLIENT_ID
RADARLY_CLIENT_SECRET

# Redis server used for the communication between the Counterfeit Platform Backend and the Specific Scraper
REDIS_SCRAPER_INSERTION=localhost


ARCHIVING_DEFAULT_SLEEP_AFTER_GET = 1
ARCHIVING_DEFAULT_SCROLL_SLEEP = 1
ARCHIVING_DEFAULT_SLEEP_AFTER_OPERATIONS = 1
ARCHIVING_DEFAULT_START_WINDOW_WIDTH = 1
ARCHIVING_DEFAULT_START_WINDOW_HEIGHT = 1
ARCHIVING_SLEEP_AFTER_CLICK_ACTION = 1
ARCHIVING_MAX_SCROLL_ACTION = 1
ARCHIVING_TIME_SCROLL_ACTION = 1
ARCHIVING_SCROLL_TOLERANCE_THRESHOLD = 1
ARCHIVING_SLEEP_AFTER_SCROLL_DOWN = 1
ARCHIVING_SLEEP_AFTER_SCROLL_UP = 1
ARCHIVING_DEFAULT_SLEEP_AFTER_SET_WINDOW_TO_REQUIRED_SIZE = 1


DEFAULT_SCROLL_PAUSE_TIME = 1
DEFAULT_REQUIRED_LOADING_DELAY = 2
DEFAULT_REQUIRED_LOADING_TIMEOUT = 15
DEFAULT_LOADING_DELAY = 0.5
DEFAULT_LOADING_TIMEOUT = 5
DEFAULT_SLEEP_AFTER_GET = 2
DEFAULT_SCROLL_SLEEP = 1
DEFAULT_SLEEP_AFTER_OPERATIONS = 1

LOGO_DETECTION_API_KEY = 'dummy'
